/* custom.CSS 4.06 November 2017 by Jan Egil and Borge Refsnes */
html{box-sizing:border-box}*,*:before,*:after{box-sizing:inherit}
/* Extract from normalize.css by Nicolas Gallagher and Jonathan Neal git.io/normalize */
html{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}
article,aside,details,figcaption,figure,footer,header,main,menu,nav,section,summary{display:block}
audio,canvas,progress,video{display:inline-block}progress{vertical-align:baseline}
audio:not([controls]){display:none;height:0}[hidden],template{display:none}
a{background-color:transparent;-webkit-text-decoration-skip:objects}
a:active,a:hover{outline-width:0}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}
dfn{font-style:italic}mark{background:#ff0;color:#000}
small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}
sub{bottom:-0.25em}sup{top:-0.5em}figure{margin:1em 40px}img{border-style:none}svg:not(:root){overflow:hidden}
code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}hr{box-sizing:content-box;height:0;overflow:visible}
button,input,select,textarea{font:inherit;margin:0}optgroup{font-weight:bold}
button,input{overflow:visible}button,select{text-transform:none}
button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}
button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner{border-style:none;padding:0}
button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring{outline:1px dotted ButtonText}
fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:.35em .625em .75em}
legend{color:inherit;display:table;max-width:100%;padding:0;white-space:normal}textarea{overflow:auto}
[type=checkbox],[type=radio]{padding:0}
[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}
[type=search]{-webkit-appearance:textfield;outline-offset:-2px}
[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}
::-webkit-input-placeholder{color:inherit;opacity:0.54}
::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}
/* End extract */
html,body{font-family:Verdana,sans-serif;font-size:15px;line-height:1.5}html{overflow-x:hidden}
h1{font-size:36px}h2{font-size:30px}h3{font-size:24px}h4{font-size:20px}h5{font-size:18px}h6{font-size:16px}.custom-serif{font-family:serif}
h1,h2,h3,h4,h5,h6{font-family:"Segoe UI",Arial,sans-serif;font-weight:400;margin:10px 0}.custom-wide{letter-spacing:4px}
hr{border:0;border-top:1px solid #eee;margin:20px 0}
.custom-image{max-width:100%;height:auto}img{margin-bottom:-5px}a{color:inherit}
.custom-table,.custom-table-all{border-collapse:collapse;border-spacing:0;width:100%;display:table}.custom-table-all{border:1px solid #ccc}
.custom-bordered tr,.custom-table-all tr{border-bottom:1px solid #ddd}.custom-striped tbody tr:nth-child(even){background-color:#f1f1f1}
.custom-table-all tr:nth-child(odd){background-color:#fff}.custom-table-all tr:nth-child(even){background-color:#f1f1f1}
.custom-hoverable tbody tr:hover,.custom-ul.custom-hoverable li:hover{background-color:#ccc}.custom-centered tr th,.custom-centered tr td{text-align:center}
.custom-table td,.custom-table th,.custom-table-all td,.custom-table-all th{padding:8px 8px;display:table-cell;text-align:left;vertical-align:top}
.custom-table th:first-child,.custom-table td:first-child,.custom-table-all th:first-child,.custom-table-all td:first-child{padding-left:16px}
.custom-btn,.custom-button{border:none;display:inline-block;outline:0;padding:8px 16px;vertical-align:middle;overflow:hidden;text-decoration:none;color:inherit;background-color:inherit;text-align:center;cursor:pointer;white-space:nowrap}
.custom-btn:hover{box-shadow:0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19)}
.custom-btn,.custom-button{-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}   
.custom-disabled,.custom-btn:disabled,.custom-button:disabled{cursor:not-allowed;opacity:0.3}.custom-disabled *,:disabled *{pointer-events:none}
.custom-btn.custom-disabled:hover,.custom-btn:disabled:hover{box-shadow:none}
.custom-badge,.custom-tag{background-color:#000;color:#fff;display:inline-block;padding-left:8px;padding-right:8px;text-align:center}.custom-badge{border-radius:50%}
.custom-ul{list-style-type:none;padding:0;margin:0}.custom-ul li{padding:8px 16px;border-bottom:1px solid #ddd}.custom-ul li:last-child{border-bottom:none}
.custom-tooltip,.custom-display-container{position:relative}.custom-tooltip .custom-text{display:none}.custom-tooltip:hover .custom-text{display:inline-block}
.custom-ripple:active{opacity:0.5}.custom-ripple{transition:opacity 0s}
.custom-input{padding:8px;display:block;border:none;border-bottom:1px solid #ccc;width:100%}
.custom-select{padding:9px 0;width:100%;border:none;border-bottom:1px solid #ccc}
.custom-dropdown-click,.custom-dropdown-hover{position:relative;display:inline-block;cursor:pointer}
.custom-dropdown-hover:hover .custom-dropdown-content{display:block;z-index:1}
.custom-dropdown-hover:first-child,.custom-dropdown-click:hover{background-color:#ccc;color:#000}
.custom-dropdown-hover:hover > .custom-button:first-child,.custom-dropdown-click:hover > .custom-button:first-child{background-color:#ccc;color:#000}
.custom-dropdown-content{cursor:auto;color:#000;background-color:#fff;display:none;position:absolute;min-width:160px;margin:0;padding:0}
.custom-check,.custom-radio{width:24px;height:24px;position:relative;top:6px}
.custom-sidebar{height:100%;width:200px;background-color:transparent;position:fixed!important;z-index:1;overflow:auto}
.custom-bar-block .custom-dropdown-hover,.custom-bar-block .custom-dropdown-click{width:100%}
.custom-bar-block .custom-dropdown-hover .custom-dropdown-content,.custom-bar-block .custom-dropdown-click .custom-dropdown-content{min-width:100%}
.custom-bar-block .custom-dropdown-hover .custom-button,.custom-bar-block .custom-dropdown-click .custom-button{width:100%;text-align:left;padding:8px 16px}
.custom-main,#main{transition:margin-left .4s}
.custom-modal{z-index:3;display:none;padding-top:100px;position:fixed;left:0;top:0;width:100%;height:100%;overflow:auto;background-color:rgb(0,0,0);background-color:rgba(0,0,0,0.4)}
.custom-modal-content{margin:auto;background-color:#fff;position:relative;padding:0;outline:0;width:600px}
.custom-bar{width:100%;overflow:hidden}.custom-center .custom-bar{display:inline-block;width:auto}
.custom-bar .custom-bar-item{padding:8px 16px;float:left;width:auto;border:none;outline:none;display:block;}
.custom-bar .custom-dropdown-hover,.custom-bar .custom-dropdown-click{position:static;float:left}
.custom-bar .custom-button{white-space:normal}
.custom-bar-block .custom-bar-item{width:100%;display:block;padding:8px 16px;text-align:left;border:none;outline:none;white-space:normal;float:none}
.custom-bar-block.custom-center .custom-bar-item{text-align:center}.custom-block{display:block;width:100%}
.custom-responsive{display:block;overflow-x:auto}
.custom-container:after,.custom-container:before,.custom-panel:after,.custom-panel:before,.custom-row:after,.custom-row:before,.custom-row-padding:after,.custom-row-padding:before,
.custom-cell-row:before,.custom-cell-row:after,.custom-clear:after,.custom-clear:before,.custom-bar:before,.custom-bar:after{content:"";display:table;clear:both}
.custom-col,.custom-half,.custom-third,.custom-twothird,.custom-threequarter,.custom-quarter{float:left;width:100%}
.custom-col.s1{width:8.33333%}.custom-col.s2{width:16.66666%}.custom-col.s3{width:24.99999%}.custom-col.s4{width:33.33333%}
.custom-col.s5{width:41.66666%}.custom-col.s6{width:49.99999%}.custom-col.s7{width:58.33333%}.custom-col.s8{width:66.66666%}
.custom-col.s9{width:74.99999%}.custom-col.s10{width:83.33333%}.custom-col.s11{width:91.66666%}.custom-col.s12{width:99.99999%}
@media (min-width:601px){.custom-col.m1{width:8.33333%}.custom-col.m2{width:16.66666%}.custom-col.m3,.custom-quarter{width:24.99999%}.custom-col.m4,.custom-third{width:33.33333%}
.custom-col.m5{width:41.66666%}.custom-col.m6,.custom-half{width:49.99999%}.custom-col.m7{width:58.33333%}.custom-col.m8,.custom-twothird{width:66.66666%}
.custom-col.m9,.custom-threequarter{width:74.99999%}.custom-col.m10{width:83.33333%}.custom-col.m11{width:91.66666%}.custom-col.m12{width:99.99999%}}
@media (min-width:993px){.custom-col.l1{width:8.33333%}.custom-col.l2{width:16.66666%}.custom-col.l3{width:24.99999%}.custom-col.l4{width:33.33333%}
.custom-col.l5{width:41.66666%}.custom-col.l6{width:49.99999%}.custom-col.l7{width:58.33333%}.custom-col.l8{width:66.66666%}
.custom-col.l9{width:74.99999%}.custom-col.l10{width:83.33333%}.custom-col.l11{width:91.66666%}.custom-col.l12{width:99.99999%}}
.custom-content{max-width:980px;margin:auto}.custom-rest{overflow:hidden}
.custom-cell-row{display:table;width:100%}.custom-cell{display:table-cell}
.custom-cell-top{vertical-align:top}.custom-cell-middle{vertical-align:middle}.custom-cell-bottom{vertical-align:bottom}
.custom-hide{display:none!important}.custom-show-block,.custom-show{display:block!important}.custom-show-inline-block{display:inline-block!important}
@media (max-width:600px){.custom-modal-content{margin:0 10px;width:auto!important}.custom-modal{padding-top:30px}
.custom-dropdown-hover.custom-mobile .custom-dropdown-content,.custom-dropdown-click.custom-mobile .custom-dropdown-content{position:relative}	
.custom-hide-small{display:none!important}.custom-mobile{display:block;width:100%!important}.custom-bar-item.custom-mobile,.custom-dropdown-hover.custom-mobile,.custom-dropdown-click.custom-mobile{text-align:center}
.custom-dropdown-hover.custom-mobile,.custom-dropdown-hover.custom-mobile .custom-btn,.custom-dropdown-hover.custom-mobile .custom-button,.custom-dropdown-click.custom-mobile,.custom-dropdown-click.custom-mobile .custom-btn,.custom-dropdown-click.custom-mobile .custom-button{width:100%}}
@media (max-width:768px){.custom-modal-content{width:500px}.custom-modal{padding-top:50px}}
@media (min-width:993px){.custom-modal-content{width:900px}.custom-hide-large{display:none!important}.custom-sidebar.custom-collapse{display:block!important}}
@media (max-width:992px) and (min-width:601px){.custom-hide-medium{display:none!important}}
@media (max-width:992px){.custom-sidebar.custom-collapse{display:none}.custom-main{margin-left:0!important;margin-right:0!important}}
.custom-top,.custom-bottom{position:fixed;width:100%;z-index:1}.custom-top{top:0}.custom-bottom{bottom:0}
.custom-overlay{position:fixed;display:none;width:100%;height:100%;top:0;left:0;right:0;bottom:0;background-color:rgba(0,0,0,0.5);z-index:2}
.custom-display-topleft{position:absolute;left:0;top:0}.custom-display-topright{position:absolute;right:0;top:0}
.custom-display-bottomleft{position:absolute;left:0;bottom:0}.custom-display-bottomright{position:absolute;right:0;bottom:0}
.custom-display-middle{position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%)}
.custom-display-left{position:absolute;top:50%;left:0%;transform:translate(0%,-50%);-ms-transform:translate(-0%,-50%)}
.custom-display-right{position:absolute;top:50%;right:0%;transform:translate(0%,-50%);-ms-transform:translate(0%,-50%)}
.custom-display-topmiddle{position:absolute;left:50%;top:0;transform:translate(-50%,0%);-ms-transform:translate(-50%,0%)}
.custom-display-bottommiddle{position:absolute;left:50%;bottom:0;transform:translate(-50%,0%);-ms-transform:translate(-50%,0%)}
.custom-display-container:hover .custom-display-hover{display:block}.custom-display-container:hover span.custom-display-hover{display:inline-block}.custom-display-hover{display:none}
.custom-display-position{position:absolute}
.custom-circle{border-radius:50%}
.custom-round-small{border-radius:2px}.custom-round,.custom-round-medium{border-radius:4px}.custom-round-large{border-radius:8px}.custom-round-xlarge{border-radius:16px}.custom-round-xxlarge{border-radius:32px}
.custom-row-padding,.custom-row-padding>.custom-half,.custom-row-padding>.custom-third,.custom-row-padding>.custom-twothird,.custom-row-padding>.custom-threequarter,.custom-row-padding>.custom-quarter,.custom-row-padding>.custom-col{padding:0 8px}
.custom-container,.custom-panel{padding:0.01em 16px}.custom-panel{margin-top:16px;margin-bottom:16px}
.custom-code,.custom-codespan{font-family:Consolas,"courier new";font-size:16px}
.custom-code{width:auto;background-color:#fff;padding:8px 12px;border-left:4px solid #4CAF50;word-wrap:break-word}
.custom-codespan{color:crimson;background-color:#f1f1f1;padding-left:4px;padding-right:4px;font-size:110%}
.custom-card,.custom-card-2{box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)}
.custom-card-4,.custom-hover-shadow:hover{box-shadow:0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19)}
.custom-spin{animation:custom-spin 2s infinite linear}@keyframes custom-spin{0%{transform:rotate(0deg)}100%{transform:rotate(359deg)}}
.custom-animate-fading{animation:fading 10s infinite}@keyframes fading{0%{opacity:0}50%{opacity:1}100%{opacity:0}}
.custom-animate-opacity{animation:opac 0.8s}@keyframes opac{from{opacity:0} to{opacity:1}}
.custom-animate-top{position:relative;animation:animatetop 0.4s}@keyframes animatetop{from{top:-300px;opacity:0} to{top:0;opacity:1}}
.custom-animate-left{position:relative;animation:animateleft 0.4s}@keyframes animateleft{from{left:-300px;opacity:0} to{left:0;opacity:1}}
.custom-animate-right{position:relative;animation:animateright 0.4s}@keyframes animateright{from{right:-300px;opacity:0} to{right:0;opacity:1}}
.custom-animate-bottom{position:relative;animation:animatebottom 0.4s}@keyframes animatebottom{from{bottom:-300px;opacity:0} to{bottom:0;opacity:1}}
.custom-animate-zoom {animation:animatezoom 0.6s}@keyframes animatezoom{from{transform:scale(0)} to{transform:scale(1)}}
.custom-animate-input{transition:width 0.4s ease-in-out}.custom-animate-input:focus{width:100%!important}
.custom-opacity,.custom-hover-opacity:hover{opacity:0.60}.custom-opacity-off,.custom-hover-opacity-off:hover{opacity:1}
.custom-opacity-max{opacity:0.25}.custom-opacity-min{opacity:0.75}
.custom-greyscale-max,.custom-grayscale-max,.custom-hover-greyscale:hover,.custom-hover-grayscale:hover{filter:grayscale(100%)}
.custom-greyscale,.custom-grayscale{filter:grayscale(75%)}.custom-greyscale-min,.custom-grayscale-min{filter:grayscale(50%)}
.custom-sepia{filter:sepia(75%)}.custom-sepia-max,.custom-hover-sepia:hover{filter:sepia(100%)}.custom-sepia-min{filter:sepia(50%)}
.custom-tiny{font-size:10px!important}.custom-small{font-size:12px!important}.custom-medium{font-size:15px!important}.custom-large{font-size:18px!important}
.custom-xlarge{font-size:24px!important}.custom-xxlarge{font-size:36px!important}.custom-xxxlarge{font-size:48px!important}.custom-jumbo{font-size:64px!important}
.custom-left-align{text-align:left!important}.custom-right-align{text-align:right!important}.custom-justify{text-align:justify!important}.custom-center{text-align:center!important}
.custom-border-0{border:0!important}.custom-border{border:1px solid #ccc!important}
.custom-border-top{border-top:1px solid #ccc!important}.custom-border-bottom{border-bottom:1px solid #ccc!important}
.custom-border-left{border-left:1px solid #ccc!important}.custom-border-right{border-right:1px solid #ccc!important}
.custom-topbar{border-top:6px solid #ccc!important}.custom-bottombar{border-bottom:6px solid #ccc!important}
.custom-leftbar{border-left:6px solid #ccc!important}.custom-rightbar{border-right:6px solid #ccc!important}
.custom-section,.custom-code{margin-top:16px!important;margin-bottom:16px!important}
.custom-margin{margin:16px!important}.custom-margin-top{margin-top:16px!important}.custom-margin-bottom{margin-bottom:16px!important}
.custom-margin-left{margin-left:16px!important}.custom-margin-right{margin-right:16px!important}
.custom-padding-small{padding:4px 8px!important}.custom-padding{padding:8px 16px!important}.custom-padding-large{padding:12px 24px!important}
.custom-padding-16{padding-top:16px!important;padding-bottom:16px!important}.custom-padding-24{padding-top:24px!important;padding-bottom:24px!important}
.custom-padding-32{padding-top:32px!important;padding-bottom:32px!important}.custom-padding-48{padding-top:48px!important;padding-bottom:48px!important}
.custom-padding-64{padding-top:64px!important;padding-bottom:64px!important}
.custom-left{float:left!important}.custom-right{float:right!important}
.custom-button:hover{color:#000!important;background-color:#ccc!important}
.custom-transparent,.custom-hover-none:hover{background-color:transparent!important}
.custom-hover-none:hover{box-shadow:none!important}
/* Colors */
.custom-amber,.custom-hover-amber:hover{color:#000!important;background-color:#ffc107!important}
.custom-aqua,.custom-hover-aqua:hover{color:#000!important;background-color:#00ffff!important}
.custom-blue,.custom-hover-blue:hover{color:#fff!important;background-color:#2196F3!important}
.custom-light-blue,.custom-hover-light-blue:hover{color:#000!important;background-color:#87CEEB!important}
.custom-brown,.custom-hover-brown:hover{color:#fff!important;background-color:#795548!important}
.custom-cyan,.custom-hover-cyan:hover{color:#000!important;background-color:#00bcd4!important}
.custom-blue-grey,.custom-hover-blue-grey:hover,.custom-blue-gray,.custom-hover-blue-gray:hover{color:#fff!important;background-color:#607d8b!important}
.custom-green,.custom-hover-green:hover{color:#fff!important;background-color:#4CAF50!important}
.custom-light-green,.custom-hover-light-green:hover{color:#000!important;background-color:#8bc34a!important}
.custom-indigo,.custom-hover-indigo:hover{color:#fff!important;background-color:#3f51b5!important}
.custom-khaki,.custom-hover-khaki:hover{color:#000!important;background-color:#f0e68c!important}
.custom-lime,.custom-hover-lime:hover{color:#000!important;background-color:#cddc39!important}
.custom-orange,.custom-hover-orange:hover{color:#000!important;background-color:#ff9800!important}
.custom-deep-orange,.custom-hover-deep-orange:hover{color:#fff!important;background-color:#ff5722!important}
.custom-pink,.custom-hover-pink:hover{color:#fff!important;background-color:#e91e63!important}
.custom-purple,.custom-hover-purple:hover{color:#fff!important;background-color:#9c27b0!important}
.custom-deep-purple,.custom-hover-deep-purple:hover{color:#fff!important;background-color:#673ab7!important}
.custom-red,.custom-hover-red:hover{color:#fff!important;background-color:#f44336!important}
.custom-sand,.custom-hover-sand:hover{color:#000!important;background-color:#fdf5e6!important}
.custom-teal,.custom-hover-teal:hover{color:#fff!important;}
.custom-yellow,.custom-hover-yellow:hover{color:#000!important;background-color:#ffeb3b!important}
.custom-white,.custom-hover-white:hover{color:#000!important;background-color:#fff!important}
.custom-black,.custom-hover-black:hover{color:#fff!important;background-color:#000!important}
.custom-grey,.custom-hover-grey:hover,.custom-gray,.custom-hover-gray:hover{color:#000!important;background-color:#9e9e9e!important}
.custom-light-grey,.custom-hover-light-grey:hover,.custom-light-gray,.custom-hover-light-gray:hover{color:#000!important;background-color:#f1f1f1!important}
.custom-dark-grey,.custom-hover-dark-grey:hover,.custom-dark-gray,.custom-hover-dark-gray:hover{color:#fff!important;background-color:#616161!important}
.custom-pale-red,.custom-hover-pale-red:hover{color:#000!important;background-color:#ffdddd!important}
.custom-pale-green,.custom-hover-pale-green:hover{color:#000!important;background-color:#ddffdd!important}
.custom-pale-yellow,.custom-hover-pale-yellow:hover{color:#000!important;background-color:#ffffcc!important}
.custom-pale-blue,.custom-hover-pale-blue:hover{color:#000!important;background-color:#ddffff!important}
.custom-text-amber,.custom-hover-text-amber:hover{color:#ffc107!important}
.custom-text-aqua,.custom-hover-text-aqua:hover{color:#00ffff!important}
.custom-text-blue,.custom-hover-text-blue:hover{color:#2196F3!important}
.custom-text-light-blue,.custom-hover-text-light-blue:hover{color:#87CEEB!important}
.custom-text-brown,.custom-hover-text-brown:hover{color:#795548!important}
.custom-text-cyan,.custom-hover-text-cyan:hover{color:#00bcd4!important}
.custom-text-blue-grey,.custom-hover-text-blue-grey:hover,.custom-text-blue-gray,.custom-hover-text-blue-gray:hover{color:#607d8b!important}
.custom-text-green,.custom-hover-text-green:hover{color:#4CAF50!important}
.custom-text-light-green,.custom-hover-text-light-green:hover{color:#8bc34a!important}
.custom-text-indigo,.custom-hover-text-indigo:hover{color:#3f51b5!important}
.custom-text-khaki,.custom-hover-text-khaki:hover{color:#b4aa50!important}
.custom-text-lime,.custom-hover-text-lime:hover{color:#cddc39!important}
.custom-text-orange,.custom-hover-text-orange:hover{color:#ff9800!important}
.custom-text-deep-orange,.custom-hover-text-deep-orange:hover{color:#ff5722!important}
.custom-text-pink,.custom-hover-text-pink:hover{color:#e91e63!important}
.custom-text-purple,.custom-hover-text-purple:hover{color:#9c27b0!important}
.custom-text-deep-purple,.custom-hover-text-deep-purple:hover{color:#673ab7!important}
.custom-text-red,.custom-hover-text-red:hover{color:#f44336!important}
.custom-text-sand,.custom-hover-text-sand:hover{color:#fdf5e6!important}
.custom-text-teal,.custom-hover-text-teal:hover{color:#009688!important}
.custom-text-yellow,.custom-hover-text-yellow:hover{color:#d2be0e!important}
.custom-text-white,.custom-hover-text-white:hover{color:#fff!important}
.custom-text-black,.custom-hover-text-black:hover{color:#000!important}
.custom-text-grey,.custom-hover-text-grey:hover,.custom-text-gray,.custom-hover-text-gray:hover{color:#757575!important}
.custom-text-light-grey,.custom-hover-text-light-grey:hover,.custom-text-light-gray,.custom-hover-text-light-gray:hover{color:#f1f1f1!important}
.custom-text-dark-grey,.custom-hover-text-dark-grey:hover,.custom-text-dark-gray,.custom-hover-text-dark-gray:hover{color:#3a3a3a!important}
.custom-border-amber,.custom-hover-border-amber:hover{border-color:#ffc107!important}
.custom-border-aqua,.custom-hover-border-aqua:hover{border-color:#00ffff!important}
.custom-border-blue,.custom-hover-border-blue:hover{border-color:#2196F3!important}
.custom-border-light-blue,.custom-hover-border-light-blue:hover{border-color:#87CEEB!important}
.custom-border-brown,.custom-hover-border-brown:hover{border-color:#795548!important}
.custom-border-cyan,.custom-hover-border-cyan:hover{border-color:#00bcd4!important}
.custom-border-blue-grey,.custom-hover-border-blue-grey:hover,.custom-border-blue-gray,.custom-hover-border-blue-gray:hover{border-color:#607d8b!important}
.custom-border-green,.custom-hover-border-green:hover{border-color:#4CAF50!important}
.custom-border-light-green,.custom-hover-border-light-green:hover{border-color:#8bc34a!important}
.custom-border-indigo,.custom-hover-border-indigo:hover{border-color:#3f51b5!important}
.custom-border-khaki,.custom-hover-border-khaki:hover{border-color:#f0e68c!important}
.custom-border-lime,.custom-hover-border-lime:hover{border-color:#cddc39!important}
.custom-border-orange,.custom-hover-border-orange:hover{border-color:#ff9800!important}
.custom-border-deep-orange,.custom-hover-border-deep-orange:hover{border-color:#ff5722!important}
.custom-border-pink,.custom-hover-border-pink:hover{border-color:#e91e63!important}
.custom-border-purple,.custom-hover-border-purple:hover{border-color:#9c27b0!important}
.custom-border-deep-purple,.custom-hover-border-deep-purple:hover{border-color:#673ab7!important}
.custom-border-red,.custom-hover-border-red:hover{border-color:#f44336!important}
.custom-border-sand,.custom-hover-border-sand:hover{border-color:#fdf5e6!important}
.custom-border-teal,.custom-hover-border-teal:hover{border-color:#009688!important}
.custom-border-yellow,.custom-hover-border-yellow:hover{border-color:#ffeb3b!important}
.custom-border-white,.custom-hover-border-white:hover{border-color:#fff!important}
.custom-border-black,.custom-hover-border-black:hover{border-color:#000!important}
.custom-border-grey,.custom-hover-border-grey:hover,.custom-border-gray,.custom-hover-border-gray:hover{border-color:#9e9e9e!important}
.custom-border-light-grey,.custom-hover-border-light-grey:hover,.custom-border-light-gray,.custom-hover-border-light-gray:hover{border-color:#f1f1f1!important}
.custom-border-dark-grey,.custom-hover-border-dark-grey:hover,.custom-border-dark-gray,.custom-hover-border-dark-gray:hover{border-color:#616161!important}
.custom-border-pale-red,.custom-hover-border-pale-red:hover{border-color:#ffe7e7!important}.custom-border-pale-green,.custom-hover-border-pale-green:hover{border-color:#e7ffe7!important}
.custom-border-pale-yellow,.custom-hover-border-pale-yellow:hover{border-color:#ffffcc!important}.custom-border-pale-blue,.custom-hover-border-pale-blue:hover{border-color:#e7ffff!important}