@charset "utf-8";
@media only screen and (max-width: 1366px) {

	.menumiring{
		transform: rotate(90deg);
	    margin-bottom: 50px;
	    margin-top: 60px;
	    margin-left: -25px;
	    color:#969696;
	}

	.gambarsamping{
		margin-bottom: 50px;
	}
	
	.search{
		margin-top: 30px;
		margin-left: 100px; 
		width: 200px; 
	}

	.modalprofile{
		width: 10%;
		margin-left: 1050px; 
		margin-top: 45px;
	}

	.pindahfakiri {
    margin-top: 580px;
    margin-left: 500px;
	}

	.pindahfakanan {
    margin-top: 580px;
    margin-right: 500px;
	}




@media only screen and (max-width: 1250px) {


}

@media only screen and (max-width: 1100px) {

	
}

@media only screen and (max-width: 960px) {	
	.menumiring{
		transform: none;
	    margin:0;
	}
	.search{
		margin:0;
		margin-top:-40px;  
		width: 200px; 
	}
}

@media only screen and (max-width: 768px) {	
	.menumiring{
		transform: none;
	    margin:0;
	}
	.search{
		margin-top:-40px;  
		width: 200px; 
	}
}

@media only screen and (max-width: 640px) {	
	.menumiring{
		transform: none;
	    margin:0;
	}

}

@media only screen and (max-width: 480px) {	
	.search{
		margin: 0; 
		width: 200px; 
	}
}

@media only screen and (max-width: 360px) {	

}

@media only screen and (max-width: 320px) {	

}



}