@font-face {
	font-family: "Zipperfont";
	src: url('../fonts/Zipper-Regular.ttf');
}


body{
	font-family: "Zipperfont";
}

#bg {
  position: fixed; 
  top: -50%; 
  left: -50%; 
  width: 200%; 
  height: 200%;
  z-index: -1;
}
#bg img {
  position: absolute; 
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0; 
  margin: auto; 
  min-width: 50%;
  min-height: 50%;
}

.footer {
    position: fixed;
    height: 100px;
    bottom: 0;
    width: 100%;
}

.shirt{
	font-size: 50pt;
	color: white; 
	margin-bottom: -30px;
}

.great{
  font-size: 22pt;
  color: white; 
}

.warnaputih{
	color: #969696;
}

.fontbawah{
	color:#969696;
	margin-top: -30px;
	font-size: 8pt;
}

.shopnow{
	color:#969696;
	font-size: 12pt;
}

.hrbawah{
	width: 140px; 
	margin-top: -5px;
	color:#969696;
}

select{
	background-color: transparent;
}

